---
layout: default
title: Home
---

<div class="page">
<!--   <h1 class="page-title">404: Page not found</h1> -->
  <img src="{{ site.baseurl }}/images/mount_rainier.jpg" alt="Me">
  <p class="lead">Hey there! Here's Hengjia Zhang!</p> 
  <p>I'm a master student majoring in Computer Science and Engineering at the University of Michigan. Currently, I'm a deep learning intern at <a href="http://www.mathworks.com">The Mathworks</a> and working on pre-trained Keras Model transformation in MATLAB. I'm looking for a full time position of software engineer, algorithm engineer or machine learning engineer.</p> 
  <p>Please check out my <a href="{{ site.baseurl }}/Hengjia_Zhang_CV.pdf" target="_blank">CV</a> and <a href="{{ site.baseurl }}/experience">projects</a>.</p>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content | strip_html | truncatewords: 50 }}

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

